
.hero {
    background-image: url("../../../public/images/bg.webp");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 15%;
    padding-left: 30%;
    color: #fff;
  }

  .hero #heading h3 {
    color: #fff;
  }

  .hero h1{
      font-weight: 600;
      font-size: 2.5rem;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  #herobtn{
      width: 197px;
      margin: 3px;
  }

  @media screen and (max-width: 768px) {
    .margin {
      height: 1vh;
    }
    .hero {
      background-position: right;
      padding-top: 25%;
      height: 80vh;
      display: flex;
      justify-content: flex-start;
      
    }
    .hero .row {
      width: 100%;
    }
    #HeroLet{
        position: absolute;
        top: 30%;
        right: 1rem;
    }
  }
  