
$blue:#1eb2a6;
$black:#263238;
$white:#fff;
$light-color:#777;
$yellow:#ff0;
$light-bg:#f6f6f6;
$border:.1rem solid #999;



.header{
    position: absolute;
    top:0; left:0;
    z-index: 100;
    background: $blue;
    width: 30rem;
    height: 100vh;
    padding:3rem;
  
    a{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      align-items: center;
     text-align: start;
     
    }

    .logo{
      font-size: 2.5rem;
      color:$white;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      
    
    
      i{
        color:$yellow;
        text-decoration: none;
        

      }

    }
  
    .navbar{
      padding:10%;
      display: flex;
      flex-direction: column;
     
      align-items: flex-start;
      justify-content: flex-start;
      
      
  
      a{
        display: block;
        font-size: 2rem;
        margin:1.7rem 0;
        color:$white;
        text-decoration: none;
        text-align: start;
        i{
          color:$yellow;
          padding-right: .5rem;
        }
  
        &:hover{
          color:$yellow;
          
          i{
            padding-right: 2rem;
          }
        }
      }
    }
  
    .share{
      text-align: center;
  
      a{
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        font-size: 1.8rem;
        background: $white;
        color:$black;
        margin:0 .1rem;
  
        &:hover{
          color:$white;
          background: $black;
        }
      }
    }
  
  }
  
  #menu-btn{
    position: fixed;
    top:1rem; right:2rem;
    height: 5rem;;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    background: $blue;
    color:$white;
    cursor: pointer;
    text-align: center;
    z-index: 10000;
    display: none;
  
    &.fa-times{
      background: $white;
      color:$black;
    }
  }
  .heading{
    text-align: center;
    margin-bottom: 3rem;
  
    span{
      font-size: 2rem;
      color: $blue;
      text-transform: uppercase;
    }
  
    h3{
      padding-top: 1rem;
      font-size: 3rem;
      color:$black;
      text-transform: uppercase;
    }
  }
  
  .btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1.2rem 3rem;
    cursor: pointer;
    color:$white;
    background: $black;
    font-size: 1.7rem;
  
    &:hover{
      background: $blue;
    }
  }
  

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }


}

@media (max-width: 991px) {
  body {
    padding-left: 0;
  }
  #menu-btn {
    display: block;
  }
  .header {
    left: -110%;
  }
  .header.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    width: 35rem;
  }
  .home .content h3 {
    font-size: 2.5rem;
  }


}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }

}
